*{
    margin: 0;
}
body{
    background: linear-gradient(to left,lightgray,white);

    text-align: left;
    padding: 2em 1em;
}
h2{
    padding: 1em 0.5em;
font-family: 'Times New Roman', Times, serif;}
h1{
    
}
p{
    padding: 0 0.5em;
    color: #36454F;
}
h1{
    padding-bottom: 1em;
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}