*{
    margin:0;
}
body{
    background: linear-gradient(to right,lightgray,white);
    padding: 1em;
    font-size: 1.2em;
    padding-top: 0;
}
a{
    text-decoration: none;
    color: black;
    text-transform: lowercase;
}
h2{
border-bottom: 2px solid black;  
  text-align: left;
    padding-bottom: 0.6em;
    background: linear-gradient(to right,lightgray,white);
    width: 100%;
    padding-top: 0.4em;
    margin-bottom: 1em;}


