*{
    margin: 0;
    padding: 0;
}
body{
}
section{
    background:linear-gradient(to top,#e9edee,white);

    position:fixed;
    top:0.2em;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
section div{
    text-align: center;
}
span{
    color: orange;
}
.me{
    width: 6em;
    padding: 0.7em 0 0.2em 0;
    margin: 0;
    border-radius:70%;
}
h2{
    font-size: 2em;
}
h3{
    font-size:1em ;
}
h4{
   font-size: 0.8em;
   color: gray;
}
.star{
    width: 6em;
}
p{
    padding: 0.7em 0 0.5em 0;
    font-size: 0.6em;
}