*{
    margin: 0;
}
/*========================================
section(body)
=======================================*/
section{
    display: flex;
    background:linear-gradient(to top,lightgray,white);
    justify-content: center;
    align-items: center;
}
section div{
    width: 50%;
   height: 100vh;
}
/*========================================
nav
=======================================*/
nav{
    background:linear-gradient(to bottom,#36454F,lightgray);
    height: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: 300;
    padding:1.2em 0 1.2em 0;

}
nav ul{
    align-items: center;
    display: flex;
justify-content: space-between;
text-wrap: wrap;
padding-right: 2em;
padding-left: 0.9em;
}
nav img{
    width: 2rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;

}
nav a:hover{
   color:lightgrey;}

/*=================================
iframe
=================================*/
iframe{
    border: 2px solid black;
    height: 1090vh;
}
.iframe{
width: 69.89%;
border-left: 7px solid black;
}
.ifr{
    width: 29%;
    border-right: none;
}
/*==============================
pic
===========================*/
li img{
    width: 3.2em;
}